{% extends "layout.html" %} {% block content %}
<img src="" alt="">
<h1>User:{{user.username}}</h1>
{% if user.gander %}
<h3>性别: 男</h3>
{% else %}
<h3>性别: 女</h3>
{% endif %}
{% if user.birthdata %}
<h3>生日：{{user.birthdate}} </h3>
{%  else %}
<!--<h3>生日：不详</h3>-->
{% endif %}
<p>{{user.introduction}}</p>
{% if current_user.is_authenticated %}

<form method="post" action="{{url_for('about_change')}}">
  <textarea class="form-control" rows="5" name="introduction">{{user.introduction}}</textarea>
    <button type="submit" class="btn btn-default">change</button>
</form>
{% endif %}
{% endblock %}